/* line 1, ../precss/_reset.scss */
i, b, em {
  font-weight: normal;
  font-style: normal;
}

/* line 5, ../precss/_reset.scss */
* {
  margin: 0;
  padding: 0;
}

/* line 9, ../precss/_reset.scss */
fieldset {
  border: none;
}

/* line 12, ../precss/_reset.scss */
li {
  list-style-type: none;
}

/* line 15, ../precss/_reset.scss */
input, button, * {
  -webkit-appearance: none;
  outline: none;
  -webkit-tap-highlight-color: transparent;
}

/* line 22, ../precss/_reset.scss */
input[type=submit], button {
  cursor: pointer;
}

/* line 31, ../precss/_pub.scss */
.mainctner {
  -webkit-overflow-scrolling: touch;
}

/* line 35, ../precss/_pub.scss */
.mainctner::-webkit-scrollbar {
  width: 0;
}

/* line 49, ../precss/_pub.scss */
.scale i {
  border-radius: 50%;
  border-radius: 99999px;
}

/* line 160, ../precss/_pub.scss */
*, *:after, *:before {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-touch-callout: none;
  -webkit-text-size-adjust: none;
  -webkit-font-smoothing: antialiased;
  -webkit-tap-highlight-color: transparent;
}

/* line 172, ../precss/_pub.scss */
.noselect {
  -webkit-user-select: none;
}

/* line 176, ../precss/_pub.scss */
input[type=button] {
  -webkit-appearance: none;
}

/* line 184, ../precss/_pub.scss */
body {
  letter-spacing: 1px;
  font-family: 'Heiti SC','Helvetica','Sans-serif';
}

/* line 231, ../precss/_pub.scss */
header .menu, .date_switch, footer {
  display: -webkit-box;
  display: box;
  -webkit-box-align: center;
  box-align: center;
  -webkit-box-pack: justify;
  box-pack: justify;
}

/* line 240, ../precss/_pub.scss */
.scale {
  display: -webkit-box;
  display: box;
  -webkit-box-align: center;
  box-align: center;
  -webkit-box-pack: start;
  box-pack: start;
}

/* line 274, ../precss/_pub.scss */
.disnone {
  display: none !important;
}

/* line 278, ../precss/_pub.scss */
.hidden {
  display: none !important;
}

/* line 283, ../precss/_pub.scss */
.fl {
  float: left;
}

/* line 286, ../precss/_pub.scss */
.fr {
  float: right;
}

/* line 290, ../precss/_pub.scss */
.clearfix {
  zoom: 1;
}
/* line 292, ../precss/_pub.scss */
.clearfix:after {
  display: block;
  content: "";
  clear: both;
}

@keyframes tap {
  0%,100% {
    transform: scale3d(1, 1, 1);
  }
  50% {
    transform: scale3d(0.8, 0.8, 1);
  }
}
@-webkit-keyframes tap {
  0%,100% {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }
  50% {
    -webkit-transform: scale3d(0.8, 0.8, 1);
    transform: scale3d(0.8, 0.8, 1);
  }
}
/* line 324, ../precss/_pub.scss */
.tapReact {
  -webkit-animation: tap 0.35s linear;
  animation: tap 0.35s linear;
}

/* line 329, ../precss/_pub.scss */
.restore1px:after {
  border-top: 1px solid #e0e0e0;
  content: ' ';
  display: block;
  width: 100%;
  position: absolute;
  left: 0;
  bottom: 0;
}

@media (-webkit-min-device-pixel-ratio: 1.5), (min-device-pixel-ratio: 1.5) {
  /* line 339, ../precss/_pub.scss */
  .restore1px:after {
    -webkit-transform-origin: left bottom;
    -webkit-transform: scaleY(0.7);
    transform: scaleY(0.7);
  }
}
@media (-webkit-min-device-pixel-ratio: 2), (min-device-pixel-ratio: 2) {
  /* line 346, ../precss/_pub.scss */
  .restore1px:after {
    -webkit-transform: scaleY(0.5);
    transform: scaleY(0.5);
  }
}
/* line 9, ../precss/main.scss */
html, body {
  height: 100%;
  width: 100%;
  position: fixed;
}

/* line 16, ../precss/main.scss */
header {
  height: 80px;
}
/* line 18, ../precss/main.scss */
header .menu {
  font-size: 16px;
}
/* line 25, ../precss/main.scss */
header .menu > * {
  padding-top: 10px;
  padding-bottom: 10px;
}
/* line 28, ../precss/main.scss */
header .menu > *:first-child {
  padding-left: 8px;
}
/* line 31, ../precss/main.scss */
header .menu > *:last-child {
  padding-right: 8px;
}

/* line 41, ../precss/main.scss */
.date_switch > * {
  padding: 8px;
}

/* line 47, ../precss/main.scss */
.mainctner {
  height: calc(100% - 130px);
  background-color: #e6f1f5;
}

/* line 52, ../precss/main.scss */
.mainctner {
  overflow: auto;
}
/* line 56, ../precss/main.scss */
.mainctner ul {
  min-height: 100%;
}
/* line 59, ../precss/main.scss */
.mainctner li {
  margin-bottom: 12px;
}

/* line 66, ../precss/main.scss */
.plan {
  background-color: #fff;
  padding: 20px 14px;
}

/* line 71, ../precss/main.scss */
.scale {
  line-height: 1;
}
/* line 74, ../precss/main.scss */
.scale i {
  width: 8px;
  height: 8px;
  display: inline-block;
  border: 1px solid #333;
  margin-right: 3px;
}

/* line 82, ../precss/main.scss */
footer {
  height: 50px;
}
